.complete-manager-profile-div {
    /* border: 2x solid rgb(104, 104, 104); */
    flex-direction: row;
    /* border-radius: 5px; */
}

.upper-div {
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-direction: row;
    border: 2px solid grey; 
    /* padding: 5px; */
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.back-button, .save-button {
    width: 100px;
    height: 40px;
    border-radius: 35px;
    background-color: #0A4424;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.page-title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 25px;
}


.body-div {
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
    flex-direction: row;
    margin: 10px;
    border: 2px solid grey; 
    /* padding: 5px; */
    padding-left: 20px;
    padding-right: 20px;
    /* text-align: center; */
}

.left-div {
    border: 2px solid grey;
    width: 20%;
    height: 100%;
    margin: 5px;
    padding: 15px 15px;
    /* align-items: center;
    text-align: center; */
}

.right-div {
    border: 2px solid grey;
    width: 80%; 
    height: 100%;
    margin: 5px;
    /* margin-left: 50px; */
    padding: 5px;
    /* align-items: flex-start; */
    /* text-align: center; */
    border-radius: 5px;
    flex-direction: row;
}

.student-div {
   height: 300px; 
   width: 100%;
   border: 1px solid grey;
   background-color: white;
   border-radius: 10px;
   display: flex;
    align-items:center;
    justify-content:space-between;
    flex-direction: column;
}

.image-div {
    border: 2px dotted grey;
    border-radius: 10px;
    background-color: white;
    /* box-shadow: inset; */
    width: 225px;
    height: 225px;
    margin: 10px;
    padding: 10px;
}

.profile-info {
    padding: 5px;
    font-family: "Montserrat", sans-serif;
}

.form-div {
    /* margin: auto; */
    padding: 15px;
}

.cell-title {
    color: #76090C;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    /* justify-content: end; */
}

.cell-title-family {
    color:#0A4424 ;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
}


input[type=text] {
    width: 100%;
    /* padding: 12px 20px; */
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=date] {
    padding: 10px;
    width: 90%;
    border: 2px solid #ccc;
}

.complete-profile-button {
    width: fit-content;
    margin: 10px;
    border-radius: 35px;
    background-color: #0A4424;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.edit-profile-button {
    width: fit-content;
    margin: 10px;
    border-radius: 35px;
    background-color: #0A4424;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

hr.horizontal-line {
    border: 1px solid black;
}

h3, h4 {
    font-family: "Montserrat", sans-serif;
}

.check-in-middle-form {
    display: flex;
    justify-content: space-between;
}

.appliances-number {
    margin-left: 10px;
    width: 50px;
    height: 20px;
}

.appliances-right {
    padding-top: 40px;
}