.dashboard-notice {
    border: 0px solid grey;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #8888888f;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 50px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.sign-up-board {
    border: 0px solid grey;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #8888888f;
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

.greet {
    font-size: 20px;
    font-weight: bold;
}

.paragraph {
    font-size: 15px;
}

.complete-sign-up {
    border: none;

}

.set-up {
    font-size: 18px;
}

select {
width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5
}

.confirm-information {
    border-radius: 5px;
}
