body {
    font-family: "Montserrat", sans-serif;
}

.complete-manager-profile-div {
    /* border: 2x solid rgb(104, 104, 104); */
    flex-direction: row;
    /* border-radius: 5px; */
}

.paragraph {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.divider{
    color: #0A4424;
    border: 4px solid;
}

.upper-div {
    /* border: 1px grey solid; */
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.back-button, .save-button {
    width: 100px;
    height: 40px;
    border-radius: 35px;
    background-color: #0A4424;
    color: white;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.page-title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 25px;
}


.body-div {
    /* border: 1px grey solid; */
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
    flex-direction: row;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.left-div {
    /* border: 1px grey solid; */
    width: 20%;
    height: 100%;
    margin: 5px;
    padding: 15px 15px;
}

.right-div {
    /* border: 1px grey solid; */
    width: 100%; 
    height: 100%;
    margin: 5px;
    padding: 15px;
    /* display: flex; */
    flex-direction: row;
}

.upload-div {

   height: 50%; 
   width: 100%;
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   padding: 10px 10px;
   text-align: center;
   align-items:center;
   justify-items: center;
    justify-content:space-between;
   display: flex;
    flex-direction: column;
}

.upload-img-body {
    /* border: 1px dashed black; */
    margin: 20px 20px;
    padding: 15px 15px;
    height: 50%;
    /* width: 100%; */
    /* align-items:center;
   justify-items: center;
    justify-content: space-between; */
}

.upload-img-file {
    padding-left: 15%;
}

.upload-img-submit {
    width: 75%;
    height: 30px;
    background-color: #76090C;
    color: white;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

.upload-note {
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

.form-div {
    /* border: 1px black solid; */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 30px 30px;
    background-color: white;
    
}

.section-label {
    color:#0A4424 ;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-bottom: 10px;

}

.info-table {
    padding-top: 10px;
    padding-bottom: 15px;
}

.dorm-info-table {
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.dorm-info-table-left {
    width: 50%;
}

.dorm-info-table-right {
    width: 50%;
}

.cell-title {
    color: #76090C;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 10px;
}

.cell-input {
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.complete-input {
    width: 100%;
    padding: 10px 10px;
    
    border: thin solid #555;
    border-radius: 5px;
}

.complete-input:focus {
    background-color: lightblue;
}

input[type=text].year {
    width: 40%;
}

input[type=date] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

.custom-select-sex {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: white;
}

.custom-select-birthday-month {
    width: 50%;
    height: 40px;
    border-radius: 4px;
    background-color: white;
    margin-right: 10px;
    margin-top: 5px;
}

.custom-select-birthday-day {
    width: 40%;
    height: 40px;
    border-radius: 4px;
    background-color: white;
}

.complete-profile-button {
    /* width: fit-content; */
    margin: 10px;
    border-radius: 35px;
    background-color: #0A4424;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    padding: 5px 5px 5px 5px;
    color: white;
    height: 100%;
}

/* .edit-profile-button {
    width: fit-content;
    margin: 10px;
    border-radius: 35px;
    background-color: #0A4424;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    padding: 5px 5px 5px 5px;
    color: white;
} */

hr.horizontal-line {
    border: 1px solid black;
}

h3, h4 {
    font-family: "Montserrat", sans-serif;
}

.check-in-middle-form {
    display: flex;
    justify-content: space-between;
}

.appliances-number {
    margin-left: 10px;
    width: 50px;
    height: 20px;
}

.appliances-right {
    padding-top: 40px;
}

.change-picture {
    align-items: center;
    background-clip: padding-box;
    background-color: #0A4424;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    line-height: 1.25;
    min-height: 40px;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 250px;
    margin-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .change-picture:hover,
  .change-picture:focus {
      background-color: #068b42;
  }

  .profile-pic {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }