.generate-soa-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.soa-body{
    border: 0px solid grey;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 75%;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upload-receipt-note {
    padding: 10px;
    text-align: center;
    font-size: 13px;
}

.generate-soa-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 75%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.soa-table {
    border-collapse: collapse;
    width: 100%;
}

.soa-table td, .soa-table th {
    border: 1px solid #ddd;
    padding: 5px;
}

.soa-table tr:nth-child(even){background-color: #f2f2f2;}

input[type=date].soa-date {
    padding: 10px;
    width: 85%;
    border: none;
}

.soa-number {
    padding: 5px;
}

.custom-select-semester {
    width: 100%;
    height: 35px;
    border-radius: 4px;
    background-color: white;
}

.soa-btns {
    display: flex;
    float: right;
}