.gen-soa-content {
    margin: 20px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
}

.soa-table {
    border: 0px solid grey;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #8888888f;
    margin-top: 20px;
    /* margin-left: 15%;
    margin-right: 15%; */
    padding: 25px;
    /* padding-left: 10%;
    padding-right: 10%; */
    font-size: 20px;
}