

.stud-info-sheet-div {
    /* border: 2x solid rgb(104, 104, 104); */
    flex-direction: row;
    /* border-radius: 5px; */
}

.upper-div {
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-direction: row;
    border: 2px solid grey; 
    /* padding: 5px; */
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.back-button, .save-button {
    width: 100px;
    height: 40px;
    border-radius: 35px;
    background-color: #0A4424;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.page-title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.body-div {
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
    flex-direction: row;
    margin: 10px;
    border: 2px solid grey; 
    /* padding: 5px; */
    padding-left: 20px;
    padding-right: 20px;
    /* text-align: center; */
}

.left-div {
    border: 2px solid grey;
    width: 20%;
    height: 100%;
    margin: 5px;
    padding: 15px 15px;
    align-items: center;
    text-align: center;
}

.right-div {
    border: 2px solid grey;
    width: 80%; 
    height: 100%;
    margin: 5px;
    /* margin-left: 50px; */
    padding: 5px;
    align-items: flex-start;
    /* text-align: center; */
    border-radius: 5px;
    flex-direction: row;
}

.student-div {
   height: 300px; 
   width: 100%;
   border: 1px solid grey;
   background-color: white;
   border-radius: 10px;
   display: flex;
    align-items:center;
    justify-content:space-between;
    flex-direction: column;
}

.image-div {
    border: 2px dotted grey;
    border-radius: 10px;
    background-color: white;
    /* box-shadow: inset; */
    width: 225px;
    height: 225px;
    margin: 10px;
    padding: 10px;
}

.profile-info {
    padding: 5px;
    font-family: "Montserrat", sans-serif;
}

.stud-info-sheet-nav {
    border-radius: 10px;
    height: 30px;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #76090C;
    font-weight: bold;
}

.stud-info-sheet-nav-personal {
    border-radius: 10px;
    height: 30px;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #F5AB29;
    font-weight: bold;
}


a {
    text-decoration: none;
    color: white;
}

.form-div {
    /* margin: auto; */
    padding: 15px;
}

/* .table-row {
    display:flex;
    justify-content: space-between;
} */

.cell-title {
    color: #76090C;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    /* padding-top: 5px;
    padding-bottom: 5px; */
    /* margin: 10px; */
    padding: 5px 5px 5px 5px;
    /* display:flex;
    justify-content: space-between; */
}

.cell-title-family {
    color:#0A4424 ;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
}

.cell-input {
    padding: 5px 5px 5px 5px;
    /* display:flex;
    justify-content: space-between; */
}

input[type=text] {
    /* box-sizing: border-box; */
    border: none;
    background-color: #f5f5f5;
    border-bottom: 2px solid #5555556d;
    /* padding: 10px 10px 10px 19px; */
    margin-right: 50px;
    outline: none;
}


input[type=date] {
    padding: 10px;
    /* width: 90%;
    height: 100%; */
    /* box-sizing: border-box; */
    border: 2px solid #ccc;
}